<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<p>
  <strong>Os:</strong>
  <%= @bug.os %>
</p>

<table>
  <thead>
  <tr>
    <th>Description</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% if @bug.replies.any? %>
    <% @bug.replies.each do |reply| %>
      <tr>
        <td><%= reply.description %></td>
        <td><%= link_to 'Show', reply %></td>
        <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
        <td><%= link_to 'Destroy', reply, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  <% end %>>
  </tbody>
</table>
<p>
  <%= link_to 'New Reply', new_reply_path() %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
